.header_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 59px;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0px 20px;
}

.header_bar_logo {
  object-fit: contain;
  margin-top: 8px;
}

.header_bar_buttons button {
  padding: 3px;
  margin: 5px;
}
